[submodule "external/SDL"]
	path = external/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/nanovg"]
	path = external/nanovg
	url = https://github.com/memononen/nanovg.git
[submodule "external/wasm3"]
	path = external/wasm3
	url = https://github.com/wasm3/wasm3.git
